@import "compass/reset";
@import "compass/layout";
$page_width:1903px;
// icon-mail{background-image:url(img/sprite.scss.png?t=1576493576073);background-size:123px 122px;margin-top:-2px}.yoho-header .tool-wrapper .icon-mail{background-position:-107px -65px;width:16px;height:11px}.yoho-header .tool-wrapper .icon-phone{background-image:url(img/sprite.scss.png?t=1576493576073);background-position:0 -108px;background-size:123px 122px;width:10px;height:14px;margin-top:-2px}.yoho-header .tool-wrapper .yoho-cert-tip{margin-left:20px}.yoho-header .tool-wrapper .yoho-cert-tip
@font-face
{
    font-family:iconfont;src:url(font/iconfont.eot?16f0e5699f7);src:url(../) format("embedded-opentype"),url(../fonts/iconfont.woff) format("woff"),url(font/iconfont.ttf?16f0e5699f7) format("truetype"),url(font/iconfont.svg?16f0e5699f7#iconfont) format("svg")
}

body{
    font-family: arial,SimHei,sans-serif;
}
.iconfont.rgbf{
    display: inline-block;
    font-weight: 400;
    font-size: 22px;
    vertical-align: middle;
    margin-right: 5px;
}
%box{
    width:$page_width;
    margin: 0 auto;
    background: red;
}
%box1{
    width: 1150px;
    margin: 0 auto;
}
%a{
    text-decoration: none;
    color: #000;
}
%left{
    float: left;
}
%tool{
    padding: 0 5px;
    position: relative;
}
    #dingbu{
        @extend %box;
        height: 40px;
        background: #f4f4f4;
        .banxin{
            @extend %box1;
            .YoHo{
                height: 40px;
                line-height: 40px;
                @extend %left;
               .icon-hamburger{
                   background-image: url(../images/sprite.scss.png);
                   background-position: -19px -86px;
                   background-size: 123px 122px;
                   width: 16px;
                   height: 12px;
                   display: inline-block;
                   vertical-align: middle;
               }
               a {
                   @extend %a;
                   
               }
            }
            .zhapian{
               @extend %left;
               color: #444;
               font-size: 12px;
               margin-left: 20px;
               padding: 0 1px;
               height: 32px;
               overflow: hidden;
               height: 40px;
                line-height: 40px;
                .icon-jinghao{
                   display: inline-block;
                   background-image: url(../images/sprite.scss.png);
                   background-position: -107px -22px;
                   background-size: 123px 122px;
                   width: 15px;
                   height: 14px;
                   margin-top: -2px;
                   margin-right: 2px;
                   vertical-align: middle;
                }
               a{
                @extend %a;
                color: #d71d32;
                }
            }   
               
               #loginbox{
                   margin-left: 150px;
                   @extend %left;
                   width: 145.7px;
                   height: 32px;
                   line-height: 32px;
                   list-style: none;
                   .hi{
                       width: 100%;
                        height: 32px;
                        line-height: 32px;
                       font-size: 12px;
                       background-color: #f4f4f4;
                   }
                   .loginbar{
                    width: 100%;
                    height: 32px;
                    line-height: 32px;
                   font-size: 12px;
                       color: #8e8e8e;
                       @extend %a;
                   }
                   .registbar{
                    width: 100%;
                    height: 32px;
                    line-height: 32px;
                   font-size: 12px;
                       color: #8e8e8e;
                       @extend %a;
                   }
               }
               .dinglan{
                   width: 572px;
                   height: 32px;
                   float: left;
                    li{
                        
                        height: 32px;
                        float: left;
                        height: 32px;
                        line-height: 32px;
                        font-size: 12px;
                    }
               }
            }
    }
%tou{
    @extend %box1;
    height:152px;
    background: #fff;
}

#header {
    width: 1150x;
    margin: 0 auto;
    height: 162px;
    background: #fff;
    margin-bottom: 10px;
        .title{
            @extend %box1;
            height: 116px;
            margin: 0 auto;
            background: yellow;
            .left{
                width: 330px;
                height: 116px;
                background: #ccc;
                float: left;
            }
            .middle{
                width: 402px;
                height: 116px;
                background: green;
                float: left;
            }
            .right{
                width:418px;
                height: 116px;
                background: #ff0;
                float: left;
            }
        }
              .nav{
                    @extend %box;
                    height: 46px;
                    background:#3a3a3a;
                }  
}
#banner {
    @extend %box,%box1;
    height:510px;
    background: red;
        .datu{
            @extend %box1;
            height: 450px;
            background: yellow;
        }
        .xiaotu{
            width: 1148px;
            height: 54px;
            background: #3a3a3a;
            margin-top: 6px;
            ul{
                width: 1148px;
                height: 54px;
                background: #ccc;
                float: left;
                padding-left: 2px;
                
               li{
                   width: 138px;
                   height: 54px;
                   background: peru;
                   padding: 0 2px;
                   float: left;
               } 
            }
        }
}
#renqi{
    @extend %box,%box1;
    height: 658px;
    background: blue;
        .tou{
            @extend %tou;
            position: relative;
            .hezi{
                position: absolute;
                top: 80px;
                left: 422px;
                width: 298px;
                height: 32px;
                border: 1px solid #000;
                text-align: center;
                line-height: 32px;
            }
        }
}
#youxuan{
    @extend %box,%box1;
    height: 616px;
    background: pink;
        .tou{
        @extend %tou;
        position: relative;
        .hezi{
            position: absolute;
            top: 80px;
            left: 422px;
            width: 298px;
            height: 32px;
            border: 1px solid #000;
            text-align: center;
            line-height: 32px;
        }
    }
}
#chaoliu-shang{
    @extend %box,%box1;
    height: 996px;
    background: purple;
        .tou{
            @extend %tou;
            position: relative;
            .hezi{
                position: absolute;
                top: 80px;
                left: 422px;
                width: 298px;
                height: 32px;
                border: 1px solid #000;
                text-align: center;
                line-height: 32px;
            }
        }
}
#chaoliu-xia{
    @extend %box,%box1;
    height: 996px;
    background: purple;
        .tou{
            @extend %tou;
            position: relative;
            .hezi{
                position: absolute;
                top: 80px;
                left: 422px;
                width: 298px;
                height: 32px;
                border: 1px solid #000;
                text-align: center;
                line-height: 32px;
            }
        }
}
#chaoliu-shang{
    @extend %box,%box1;
    height: 996px;
    background: purple;
        .tou{
            @extend %tou;
            position: relative;
            .hezi{
                position: absolute;
                top: 80px;
                left: 422px;
                width: 298px;
                height: 32px;
                border: 1px solid #000;
                text-align: center;
                line-height: 32px;
            }
        }
}
#fashion{
    @extend %box,%box1;
    height: 996px;
    background: peru;
        .tou{
            @extend %tou;
            position: relative;
            .hezi{
                position: absolute;
                top: 80px;
                left: 422px;
                width: 298px;
                height: 32px;
                border: 1px solid #000;
                text-align: center;
                line-height: 32px;
            }
        }
}
#chaomen{
    @extend %box,%box1;
    height: 996px;
    background: indianred;
        .tou{
            @extend %tou;
            position: relative;
            .hezi{
                position: absolute;
                top: 80px;
                left: 422px;
                width: 298px;
                height: 32px;
                border: 1px solid #000;
                text-align: center;
                line-height: 32px;
            }
        }
}
#newthing{
    @extend %box,%box1;
    height: 4348px;
    background: lightblue;
    position: relative;
    .tou{
        @extend %tou;
        position: relative;
        .hezi{
            position: absolute;
            top: 80px;
            left: 422px;
            width: 298px;
            height: 32px;
            border: 1px solid #000;
            text-align: center;
            line-height: 32px;
        }
    }
        .hezi1{
            position: absolute;
            top:4274px;
            left: 516px;
            background: #000;
            color: white;
            text-align: center;
            line-height:35px;
            width: 120px;
            height: 35px;
        } 
}
#footer{
    @extend %box;
    height: 384px;
    background: #000;
}
