@import "compass/reset";
@import "compass/layout";
$page_width:1903px;
body{
    font-family: arial,SimHei,sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
%box{
    width:$page_width;
    margin: 0 auto;
    background: red;
}
%box1{
    width: 1150px;
    margin: 0 auto;
}
%a{
    text-decoration: none;
    color: #000;
}
%a1{
    text-decoration: none;
    color: #8e8e8e;
}
%left{
    float: left;
}
%tool{
    padding: 0 5px;
    position: relative;
}
    #dingbu{
        @extend %box;
        height:32px;
        background: #f4f4f4;
        .banxin{
            @extend %box1;
            .YoHo{
                height: 32x;
                line-height: 32px;
                @extend %left;
               .icon-hamburger{
                   background-image: url(../images/sprite.scss.png);
                   background-position: -19px -86px;
                   background-size: 123px 122px;
                   width: 16px;
                   height: 12px;
                   display: inline-block;
                   vertical-align: middle;
               }
               a {
                   @extend %a;
                   
               }
            }
            .zhapian{
               @extend %left;
               color: #444;
               font-size: 12px;
               margin-left: 20px;
               padding: 0 1px;
               height: 32px;
               overflow: hidden;
               height: 32px;
                line-height: 32px;
                .icon-jinghao{
                   display: inline-block;
                   background-image: url(../images/sprite.scss.png);
                   background-position: -107px -22px;
                   background-size: 123px 122px;
                   width: 15px;
                   height: 14px;
                   margin-top: -2px;
                   margin-right: 2px;
                   vertical-align: middle;
                }
               a{
                @extend %a;
                color: #d71d32;
                }
            }   
               
               #loginbox{
                   margin-left: 150px;
                   @extend %left;
                   width: 145.7px;
                   height: 32px;
                   line-height: 32px;
                   list-style: none;
                   .hi{
                       width: 100%;
                        height: 32px;
                        line-height: 32px;
                       font-size: 12px;
                       background-color: #f4f4f4;
                   }
                   .loginbar{
                    width: 100%;
                    height: 32px;
                    line-height: 32px;
                   font-size: 12px;
                       color: #8e8e8e;
                       @extend %a;
                   }
                   .registbar{
                    width: 100%;
                    height: 32px;
                    line-height: 32px;
                   font-size: 12px;
                       color: #8e8e8e;
                       @extend %a;
                   }
               }
               .dinglan{
                   width: 550px;
                   height: 32px;
                   float: left;
                   .text{
                       width: 66px;
                       height: 32px;
                   }
                   .yh{
                       width: 90px;
                   }
                   .sj{
                       width: 72px;
                   }
                   .kf{
                       width: 82px;
                   }
                    li{
                        width: 80px;
                        height: 32px;
                        float: left;
                        height: 32px;
                        line-height: 32px;
                        font-size: 12px;
                        // padding: 10px 0;
                        .tag-seprate{
                             width: 0;
                                margin-top: 11px;
                                margin-right: 12px;
                                height: 14px;
                                float: left;
                                border-left: 1px solid #dcdcdc;
                         }
                         .icon-bottomarrow{
                            background-image: url(../images/sprite.scss.png);
                            background-size: 123px 122px;
                            margin-top: -2px;
                            background-position: -64px -86px;
                            width: 10px;
                            height: 5px;
                            display: inline-block;
                            vertical-align: middle;
                            line-height: 30px;
                         }
                         .icon-papers{
                            display: inline-block;
                            vertical-align: middle;
                            line-height: 30px;
                            background-position: 0 -86px;
                            width: 11px;
                            height: 14px;
                            background-image: url(../images/sprite.scss.png);
                            background-size: 123px 122px;
                            margin-top: -2px;
                         }
                         .icon-heart{
                            display: inline-block;
                            vertical-align: middle;
                            line-height: 30px;
                            background-image: url(../images/sprite.scss.png);
                            background-size: 123px 122px;
                            margin-top: -2px;
                            background-position: -107px -44px;
                            width: 15px;
                            height: 13px;
                         }
                         .icon-mail{
                            display: inline-block;
                            vertical-align: middle;
                            line-height: 30px;
                            background-position: -107px -65px;
                            width: 16px;
                             height: 11px;
                            background-image: url(../images/sprite.scss.png);
                            background-size: 123px 122px;
                            margin-top: -2px;
                         }
                         .icon-weixin{
                            display: inline-block;
                            vertical-align: middle;
                            line-height: 30px;
                            font-family: iconfont!important;
                            font-size: 16px;
                            font-style: normal;
                            text-decoration: none;
                         }
                         .icon-phone{
                            display: inline-block;
                            vertical-align: middle;
                            line-height: 30px;
                            background-image: url(../images/sprite.scss.png);
                            background-size: 123px 122px;
                            width: 10px;
                            height: 14px;
                            margin-top: -2px;
                            background-position: 0px -108px;
                         }

                         a{
                             @extend %a1;
                         }

                    }
               }
            }
    }
%tou{
    @extend %box1;
    height:152px;
    background: #fff;
}

#header {
    width: 1150x;
    margin: 0 auto;
    height: 162px;
    background: #fff;
    margin-bottom: 10px;
        .title{
            @extend %box1;
            height: 116px;
            margin: 0 auto;
            background: yellow;
            .left{
                width: 346px;
                height: 116px;
                background: white;
                float: left;
            }
            .middle{
                width: 402px;
                height: 116px;
                background: green;
                float: left;
                .logo{
                    
                }
            }
            .right{
                width:402px;
                height: 116px;
                background: #ff0;
                float: left;
                position: relative;
                #search{
                    background-color: #3a3a3a;
                    border: 1px solid #3a3a3a;
                    width: 320px;
                    height: 28px;
                    display: inline-block;
                    position: absolute;
                    bottom: 22px;
                    height: 32px;
                    .hidden{
                        width: 240px;
                        height: 32px;
                        border: none;
                        background: #fff;
                        box-sizing: border-box;
                        padding-left: 10px;
                        color: #b0b0b0;
                    }
                    .icon-zu{
                        padding-left: 26px;
                    }
                }
                .hot{
                    width: 320px;
                    height: 16px;
                    box-sizing: border-box;
                    overflow: hidden;
                    display: inline-block;
                    position: absolute;
                    bottom: 0;
                    left: 0px;
                    li{
                        display: inline-block;
                        font-size: 12px;
                        color: #b0b0b0;
                        margin-right: 18px;
                        a{
                            color:#b0b0b0 ;
                        }
                    }
                    
                }.icon-gouwuche{
                    position: absolute;
                    width: 27px;
                    height: 30px;
                    font-size: 30px;
                    left: 340px;
                    top:62px;
                    
            }
        }
    }
              .daohang{
                    @extend %box;
                    height: 46px;
                    background:#3a3a3a;
                    nav{
                        @extend %box1;
                        margin: 0 auto;
                        .fushi{
                            width:74px ;
                        }
                        .xielv{
                            width: 74px;
                        }
                        .baozhuang{
                            width: 74px;
                        }
                        .hang{
                            width: 60px;
                        }
                        .sale{
                            width: 82px;
                        }
                        .xieyi{
                            margin-left: 8px;
                        }
                        .peishi{
                            width: 116px;
                        }
                        li{
                            width: 100px;
                            height: 40px;
                            line-height: 40px;
                            margin-right: 36px;
                            float: left;
                            padding-right: 2px;
                                a{
                                    color: #fff;
                                    font-size: 14px;
                                    line-height: 14px;
                                    display: inline-block;
                                    position: relative;
                                    span{
                                        width: 56px;
                                        height: 5px;
                                        background: white;
                                        position: absolute;
                                        bottom: -15px;
                                        left: 1px;
                                        display: none;
                                    }
                                }
                                
                                .daohang nav li:hover{
                                    display:block ;
                                }
                        }
                    }
                }  
}
#header .title .left .left1{
    width: 346px;
    height: 45px;
    display: inline-block;
    padding-top: 72px;
    float: left;
    .boy{
        width: 80px;
        height: 45px;  
        background-color: #3a3a3a;
        float: left;
        padding-top:8px;
        text-align: center;
        h5{
            a{
                color: #fff;
            }
        }
        
    }
    .girl{
        float: left;
        text-align: center;
        width: 80px;
        height: 45px;
        padding-top:8px;
        text-align: center;
        h5{
            a{
                color: #000;
            }
        }
    }
    .kid{
        width: 76px;
        height: 45px;
        float: left;
        text-align: center;
        padding-top:8px;
        h5{
            a{
                color: #000;
            }
        }
    }
    .free{
        width: 110px;
        height: 45px;
        float: left;
        text-align: center;
        padding-top:8px;
        h5{
            a{
                color: #000;
            }
        }
    }
}
#banner {
    @extend %box,%box1;
    height:510px;
    background: red;
        .datu{
            @extend %box1;
            height: 450px;
            background: yellow;
            float: left;
            overflow: hidden;
            position: relative;
            // .bpic{
            //     float: left;
                
                // li{
                //     width: 1150px;
                //     height: 450px;
                // }
                #left{
                    position: absolute;
                    top: 50%;
                    margin: -30px 0 0;
                    width: 60px;
                    height: 60px;
                    line-height: 56px;
                    text-align: center;
                    z-index: 2;
                    background: #fff;
                    opacity: .55;
                }
                #right{
                    position: absolute;
                    top: 50%;
                    right: 0%;
                    margin: -30px 0 0;
                    width: 60px;
                    height: 60px;
                    line-height: 56px;
                    text-align: center;
                    z-index: 2;
                    background: #fff;
                    opacity: .55;
                }
                .spic{
                    width: 1148px;
                    height: 54px;
                    background: #ccc;
                    float: left;
                    margin-top: 6px;
                    padding-left: 2px;
                    
                   li{
                       width: 138px;
                       height: 54px;
                       background: peru;
                       padding: 0 2px;
                       float: left;
                   } 
                }
                li{

                }
            // }
            .bpic li.show{
                display: block;
            }
        }
        // .xiaotu{
        //     width: 1148px;
        //     height: 54px;
        //     background: #3a3a3a;
        //     margin-top: 6px;
            
        // }
}
#renqi{
    @extend %box,%box1;
    height: 658px;
    background: blue;
        .tou{
            @extend %tou;
            position: relative;
            .hezi{
                position: absolute;
                top: 80px;
                left: 422px;
                width: 298px;
                height: 32px;
                border: 1px solid #000;
                text-align: center;
                line-height: 32px;
            }
        }
}
#youxuan{
    @extend %box,%box1;
    height: 616px;
    background: pink;
        .tou{
        @extend %tou;
        position: relative;
        .hezi{
            position: absolute;
            top: 80px;
            left: 422px;
            width: 298px;
            height: 32px;
            border: 1px solid #000;
            text-align: center;
            line-height: 32px;
        }
    }
}
#chaoliu-shang{
    @extend %box,%box1;
    height: 996px;
    background: purple;
        .tou{
            @extend %tou;
            position: relative;
            .hezi{
                position: absolute;
                top: 80px;
                left: 422px;
                width: 298px;
                height: 32px;
                border: 1px solid #000;
                text-align: center;
                line-height: 32px;
            }
        }
}
#chaoliu-xia{
    @extend %box,%box1;
    height: 996px;
    background: purple;
        .tou{
            @extend %tou;
            position: relative;
            .hezi{
                position: absolute;
                top: 80px;
                left: 422px;
                width: 298px;
                height: 32px;
                border: 1px solid #000;
                text-align: center;
                line-height: 32px;
            }
        }
}
#chaoliu-shang{
    @extend %box,%box1;
    height: 996px;
    background: purple;
        .tou{
            @extend %tou;
            position: relative;
            .hezi{
                position: absolute;
                top: 80px;
                left: 422px;
                width: 298px;
                height: 32px;
                border: 1px solid #000;
                text-align: center;
                line-height: 32px;
            }
        }
}
#fashion{
    @extend %box,%box1;
    height: 996px;
    background: peru;
        .tou{
            @extend %tou;
            position: relative;
            .hezi{
                position: absolute;
                top: 80px;
                left: 422px;
                width: 298px;
                height: 32px;
                border: 1px solid #000;
                text-align: center;
                line-height: 32px;
            }
        }
}
#chaomen{
    @extend %box,%box1;
    height: 996px;
    background: indianred;
        .tou{
            @extend %tou;
            position: relative;
            .hezi{
                position: absolute;
                top: 80px;
                left: 422px;
                width: 298px;
                height: 32px;
                border: 1px solid #000;
                text-align: center;
                line-height: 32px;
            }
        }
}
#newthing{
    @extend %box,%box1;
    height: 4348px;
    background: lightblue;
    position: relative;
    .tou{
        @extend %tou;
        position: relative;
        .hezi{
            position: absolute;
            top: 80px;
            left: 422px;
            width: 298px;
            height: 32px;
            border: 1px solid #000;
            text-align: center;
            line-height: 32px;
        }
    }
        .hezi1{
            position: absolute;
            top:4274px;
            left: 516px;
            background: #000;
            color: white;
            text-align: center;
            line-height:35px;
            width: 120px;
            height: 35px;
        } 
}
#footer{
    @extend %box;
    height: 400x;
    background: #000;
    .hei1{
        width: 1150px;
        height: 60px;
        margin: 0 auto;
        ul{
            width: 534px;
            height: 60px;
            .zhengpin{
                width:118px;
                height:32px;
                margin-right: 60px;
                line-height: 30px;
                font-weight: 700;
                float: left;
                    .icon{
                        width: 27px;
                        height: 30px;
                    }
                    .hundred{
                        color: #e01;
                        font-size: 12px;
                    }
                    .word{
                        color: #fff;
                        font-size: 12px;
                    }
                }
            .tuihuo{
                width:118px;
                height:32px;
                margin-right: 60px;
                line-height: 30px;
                font-weight: 700;
                float: left;
                    .icon{
                        width: 27px;
                        height: 30px;
                    }
                    .hundred{
                        color: #e01;
                        font-size: 12px;
                    }
                    .word{
                        color: #fff;
                        font-size: 12px;
                    }
                 }
            .zaixian{
                width:118px;
                height:32px;
                margin-right: 60px;
                line-height: 30px;
                font-weight: 700;
                float: left;
                    .icon{
                        width: 27px;
                        height: 30px;
                    }
                    .hundred{
                        color: #e01;
                        font-size: 12px;
                    }
                    .word{
                        color: #fff;
                        font-size: 12px;
                    }
                }
        }
    }
    .hei2{
        width: 1150px;
        height: 151px;
        padding: 15px 0;
        margin: 0 auto;
        border-top: 1px solid #262626;
        .content{
            width: 1150px;
            height: 120px;
            ul{
                width: 1265px;
                height: 120x;
                    li{
                        width: 180;
                        height: 120px;
                        float: left;
                        p{  
                            width: 180px;
                            line-height: 24px;
                            span{
                                font-size: 12px;
                                color:wheat;
                            }
                        }

                    }
            } 
        }
        
    }
    .hei3{
        width: 1150px;
        height: 124px;
        background: #000;
        padding: 10px 0 14px;
        font-size: 12px;
        margin: 0 auto;
        .content1{
            width: 1150px;
            height: 60p;
            line-height: 20px;
            color: #666;
            padding-left: 300px;
            position: relative;
            .left-pic{
                width: 268px;
                height: 40px;
                margin-top: 3px;
                position: absolute;
                left: 0;
                top: 12px;
                .link{
                    display: inline-block;
                    float: left;
                    border-radius: 2px;
                    margin-right: 8px;
                    background: #fff;
                    width: 76px;
                    height: 34px;
                }
            }
            .link{
                width: 850px;
                height: 60px;
                color: #666;
                // line-height: px;
                a{
                    width:100%;
                    height:14px;
                    color: #666;
                    span{
                        width: 24px;
                        height: 14px;
                        padding: 0 10px;
                    }
                }
            }
        }   
    }
    .copyright{
        width: 1150px;
        height: 40px;
        text-align: center;
        padding-top: 20px;
        line-height: 20px;
        p{  
            color: #666;
            width: 1150px;
            height: 20px;
        }
    }
    .hei4{
        width: 1150px;
        height: 48px;
        background: #000;
        margin:0 auto;
        .content2{
            // width: 1150px;
            // height: 46px;
            // line-height: 46px;
            ul{
                width:1150px;
                height:48px;
                margin:0 auto;
                .friend{
                    width: 60px;
                    height: 48px;
                }
                .h1{
                    width: 48px;
                    height: 14px;
                }
                li{
                    width: 66px;
                    height:40x;
                    margin-left: 11px;
                    float: left;
                    a{
                        width: 73px;
                        height: 14px;
                        color:#666;
                        float: left;
                        font-size: 12px;
                    }
                    .huo1{
                        width: 24px;
                        height: 14px;
                    }
                    .zuoyi{
                        margin-left: 18px;
                    }
                }
            }   
        }

        
            
    }
}
