/* line 5, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: iconfont;
  src: url(font/iconfont.eot?16f0e5699f7);
  src: url(../) format("embedded-opentype"), url(../fonts/iconfont.woff) format("woff"), url(font/iconfont.ttf?16f0e5699f7) format("truetype"), url(font/iconfont.svg?16f0e5699f7#iconfont) format("svg");
}
/* line 10, ../sass/index.scss */
body {
  font-family: arial,SimHei,sans-serif;
}

/* line 13, ../sass/index.scss */
.iconfont.rgbf {
  display: inline-block;
  font-weight: 400;
  font-size: 22px;
  vertical-align: middle;
  margin-right: 5px;
}

/* line 20, ../sass/index.scss */
#dingbu, #header .nav, #banner, #renqi, #youxuan, #chaoliu-shang, #chaoliu-xia, #fashion, #chaomen, #newthing, #footer {
  width: 1903px;
  margin: 0 auto;
  background: red;
}

/* line 25, ../sass/index.scss */
#dingbu .banxin, #renqi .tou, #youxuan .tou, #chaoliu-shang .tou, #chaoliu-xia .tou, #fashion .tou, #chaomen .tou, #newthing .tou, #header .title, #banner, #banner .datu, #renqi, #youxuan, #chaoliu-shang, #chaoliu-xia, #fashion, #chaomen, #newthing {
  width: 1150px;
  margin: 0 auto;
}

/* line 29, ../sass/index.scss */
#dingbu .banxin .YoHo a, #dingbu .banxin .zhapian a, #dingbu .banxin #loginbox .loginbar, #dingbu .banxin #loginbox .registbar {
  text-decoration: none;
  color: #000;
}

/* line 33, ../sass/index.scss */
#dingbu .banxin .YoHo, #dingbu .banxin .zhapian, #dingbu .banxin #loginbox {
  float: left;
}

/* line 40, ../sass/index.scss */
#dingbu {
  height: 40px;
  background: #f4f4f4;
}
/* line 46, ../sass/index.scss */
#dingbu .banxin .YoHo {
  height: 40px;
  line-height: 40px;
}
/* line 50, ../sass/index.scss */
#dingbu .banxin .YoHo .icon-hamburger {
  background-image: url(../images/sprite.scss.png);
  background-position: -19px -86px;
  background-size: 123px 122px;
  width: 16px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
}
/* line 64, ../sass/index.scss */
#dingbu .banxin .zhapian {
  color: #444;
  font-size: 12px;
  margin-left: 20px;
  padding: 0 1px;
  height: 32px;
  overflow: hidden;
  height: 40px;
  line-height: 40px;
}
/* line 74, ../sass/index.scss */
#dingbu .banxin .zhapian .icon-jinghao {
  display: inline-block;
  background-image: url(../images/sprite.scss.png);
  background-position: -107px -22px;
  background-size: 123px 122px;
  width: 15px;
  height: 14px;
  margin-top: -2px;
  margin-right: 2px;
  vertical-align: middle;
}
/* line 85, ../sass/index.scss */
#dingbu .banxin .zhapian a {
  color: #d71d32;
}
/* line 91, ../sass/index.scss */
#dingbu .banxin #loginbox {
  margin-left: 150px;
  width: 145.7px;
  height: 32px;
  line-height: 32px;
  list-style: none;
}
/* line 98, ../sass/index.scss */
#dingbu .banxin #loginbox .hi {
  width: 100%;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  background-color: #f4f4f4;
}
/* line 105, ../sass/index.scss */
#dingbu .banxin #loginbox .loginbar {
  width: 100%;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  color: #8e8e8e;
}
/* line 113, ../sass/index.scss */
#dingbu .banxin #loginbox .registbar {
  width: 100%;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  color: #8e8e8e;
}
/* line 122, ../sass/index.scss */
#dingbu .banxin .dinglan {
  width: 572px;
  height: 32px;
  float: left;
}
/* line 126, ../sass/index.scss */
#dingbu .banxin .dinglan li {
  height: 32px;
  float: left;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
}

/* line 137, ../sass/index.scss */
#renqi .tou, #youxuan .tou, #chaoliu-shang .tou, #chaoliu-xia .tou, #fashion .tou, #chaomen .tou, #newthing .tou {
  height: 152px;
  background: #fff;
}

/* line 143, ../sass/index.scss */
#header {
  width: 1150x;
  margin: 0 auto;
  height: 162px;
  background: #fff;
  margin-bottom: 10px;
}
/* line 149, ../sass/index.scss */
#header .title {
  height: 116px;
  margin: 0 auto;
  background: yellow;
}
/* line 154, ../sass/index.scss */
#header .title .left {
  width: 330px;
  height: 116px;
  background: #ccc;
  float: left;
}
/* line 160, ../sass/index.scss */
#header .title .middle {
  width: 402px;
  height: 116px;
  background: green;
  float: left;
}
/* line 166, ../sass/index.scss */
#header .title .right {
  width: 418px;
  height: 116px;
  background: #ff0;
  float: left;
}
/* line 173, ../sass/index.scss */
#header .nav {
  height: 46px;
  background: #3a3a3a;
}

/* line 179, ../sass/index.scss */
#banner {
  height: 510px;
  background: red;
}
/* line 183, ../sass/index.scss */
#banner .datu {
  height: 450px;
  background: yellow;
}
/* line 188, ../sass/index.scss */
#banner .xiaotu {
  width: 1148px;
  height: 54px;
  background: #3a3a3a;
  margin-top: 6px;
}
/* line 193, ../sass/index.scss */
#banner .xiaotu ul {
  width: 1148px;
  height: 54px;
  background: #ccc;
  float: left;
  padding-left: 2px;
}
/* line 200, ../sass/index.scss */
#banner .xiaotu ul li {
  width: 138px;
  height: 54px;
  background: peru;
  padding: 0 2px;
  float: left;
}

/* line 210, ../sass/index.scss */
#renqi {
  height: 658px;
  background: blue;
}
/* line 214, ../sass/index.scss */
#renqi .tou {
  position: relative;
}
/* line 217, ../sass/index.scss */
#renqi .tou .hezi {
  position: absolute;
  top: 80px;
  left: 422px;
  width: 298px;
  height: 32px;
  border: 1px solid #000;
  text-align: center;
  line-height: 32px;
}

/* line 229, ../sass/index.scss */
#youxuan {
  height: 616px;
  background: pink;
}
/* line 233, ../sass/index.scss */
#youxuan .tou {
  position: relative;
}
/* line 236, ../sass/index.scss */
#youxuan .tou .hezi {
  position: absolute;
  top: 80px;
  left: 422px;
  width: 298px;
  height: 32px;
  border: 1px solid #000;
  text-align: center;
  line-height: 32px;
}

/* line 248, ../sass/index.scss */
#chaoliu-shang {
  height: 996px;
  background: purple;
}
/* line 252, ../sass/index.scss */
#chaoliu-shang .tou {
  position: relative;
}
/* line 255, ../sass/index.scss */
#chaoliu-shang .tou .hezi {
  position: absolute;
  top: 80px;
  left: 422px;
  width: 298px;
  height: 32px;
  border: 1px solid #000;
  text-align: center;
  line-height: 32px;
}

/* line 267, ../sass/index.scss */
#chaoliu-xia {
  height: 996px;
  background: purple;
}
/* line 271, ../sass/index.scss */
#chaoliu-xia .tou {
  position: relative;
}
/* line 274, ../sass/index.scss */
#chaoliu-xia .tou .hezi {
  position: absolute;
  top: 80px;
  left: 422px;
  width: 298px;
  height: 32px;
  border: 1px solid #000;
  text-align: center;
  line-height: 32px;
}

/* line 286, ../sass/index.scss */
#chaoliu-shang {
  height: 996px;
  background: purple;
}
/* line 290, ../sass/index.scss */
#chaoliu-shang .tou {
  position: relative;
}
/* line 293, ../sass/index.scss */
#chaoliu-shang .tou .hezi {
  position: absolute;
  top: 80px;
  left: 422px;
  width: 298px;
  height: 32px;
  border: 1px solid #000;
  text-align: center;
  line-height: 32px;
}

/* line 305, ../sass/index.scss */
#fashion {
  height: 996px;
  background: peru;
}
/* line 309, ../sass/index.scss */
#fashion .tou {
  position: relative;
}
/* line 312, ../sass/index.scss */
#fashion .tou .hezi {
  position: absolute;
  top: 80px;
  left: 422px;
  width: 298px;
  height: 32px;
  border: 1px solid #000;
  text-align: center;
  line-height: 32px;
}

/* line 324, ../sass/index.scss */
#chaomen {
  height: 996px;
  background: indianred;
}
/* line 328, ../sass/index.scss */
#chaomen .tou {
  position: relative;
}
/* line 331, ../sass/index.scss */
#chaomen .tou .hezi {
  position: absolute;
  top: 80px;
  left: 422px;
  width: 298px;
  height: 32px;
  border: 1px solid #000;
  text-align: center;
  line-height: 32px;
}

/* line 343, ../sass/index.scss */
#newthing {
  height: 4348px;
  background: lightblue;
  position: relative;
}
/* line 348, ../sass/index.scss */
#newthing .tou {
  position: relative;
}
/* line 351, ../sass/index.scss */
#newthing .tou .hezi {
  position: absolute;
  top: 80px;
  left: 422px;
  width: 298px;
  height: 32px;
  border: 1px solid #000;
  text-align: center;
  line-height: 32px;
}
/* line 362, ../sass/index.scss */
#newthing .hezi1 {
  position: absolute;
  top: 4274px;
  left: 516px;
  background: #000;
  color: white;
  text-align: center;
  line-height: 35px;
  width: 120px;
  height: 35px;
}

/* line 374, ../sass/index.scss */
#footer {
  height: 384px;
  background: #000;
}
